body {
    background-color: rgb(214, 213, 210);

}
.shell {
    padding: 1em;
    background-color: rgb(235, 233, 230);
}

h2, h3, .filter{
    text-align: center;
}

.message {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  form {
    margin-left: 3em;
  }

  form div {
    margin: 0.3em;
  }

  .add {
    color: darkgreen;
  }